/* About.css */

/* General container styles */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Aligns items to the left */
  height: auto;
  padding-top: 0; /* No top padding */
  padding-left: 200px; /* Consistent with Home.js */
}

/* Typography and text styling */
.typography-body1 {
  font-size: 22px; /* Specified font size */
  max-width: 40%; /* Max width for text container */
  text-align: left; /* Left-aligned text */
  padding-bottom: 5px; /* Bottom padding */
  color: #FFFFFF; /* Text color */
  /* Additional styles like font-family, weight, etc. */
}

/* Tech stack styles */
.tech-stack {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two-column grid */
  gap: 10px; /* Gap between items */
  list-style: none; /* No default list styling */
  padding: 0; /* No default padding */
  color: #FFFFFF; /* Text color */
}

.tech-item {
  display: flex;
  align-items: center; /* Center bullet with text */
  font-size: 1rem; /* Font size */
}

.tech-item::before {
  content: '►'; /* Custom bullet */
  color: #FF4545; /* Bullet color */
  margin-right: 10px; /* Space between bullet and text */
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Responsive adjustments for mobile view */
@media (max-width: 720px) {
  .about-container {
    padding: 0 15px; /* Adjust padding for mobile */
  }

  .typography-body1 {
    font-size: 1rem; /* Smaller font size for iPhone 14 */
    max-width: 100%; /* Full width for mobile */
    text-align: left; /* Left-aligned text */
    padding-bottom: 5px; /* Bottom padding */
    color: #FFFFFF; /* Text color */
  }

  .tech-stack {
    grid-template-columns: 1fr; /* Single column layout for mobile */
  }

  .project-card {
    width: 100%; /* Full width for mobile */
  }
}

/* Additional adjustments for iPhone 14 Pro Max in portrait mode */
@media (max-width: 1284px) {
  .typography-body1 {
    font-size: 1.2rem; /* Adjust font size for larger screen */
  }
}
