/* Experience.css */

/* Container styles */
.experience-container {
  display: flex;
  color: #FFFFFF;
  padding-top: 20px;
  padding-left: 0; /* Consistent with other sections */
  padding-right: 200px;
  position: relative; /* For absolute child positioning */
}

/* Experience selector styles */
.experience-selector {
  position: absolute;
  left: 200px; /* Align with container padding */
  top: 50px; /* Top alignment */
  width: 250px; /* Fixed width */
  text-align: left;
}

/* Company name styles */
.company-name {
  cursor: pointer;
  margin-bottom: 15px;
  transition: color 0.3s;
}

.company-name.active {
  color: #FF4545; /* Highlight color for active company */
  font-weight: bold;
}

/* Decorative line styles */
.line {
  position: absolute;
  left: 450px; /* Right of company names */
  top: 50px; /* Top alignment */
  height: 500px; /* Fixed height */
  width: 2px;
  background-color: #FF4545; /* Line color */
}

/* Experience details styles */
.experience-details {
  flex-grow: 1;
  margin-left: 300px; /* Prevent overlap with selector */
  padding-left: 20px;
  padding-right: 20px;
  border-left: 2px solid #FF4545;
}

/* Text alignment for experience details */
.experience-title,
.experience-company,
.experience-duration {
  text-align: left;
}

.experience-responsibilities {
  padding-left: 0; /* Align text with header */
}

/* Experience item styles */
.experience-item {
  display: flex;
  align-items: flex-start; /* Start alignment */
  font-size: 16px;
  word-wrap: break-word;
  max-width: 600px;
}

.experience-item::before {
  content: '►';
  color: #FF4545;
  margin-right: 10px;
  font-size: 20px;
}

/* Title header styles */
.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 200px;
}

/* Responsive adjustments for mobile view */
@media (max-width: 720px) {
  .experience-container {
    padding: 0 15px; /* Adjust padding for mobile */
  }

  .experience-selector {
    position: static; /* Remove absolute positioning */
    width: auto; /* Adjust width for mobile */
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }

  .line {
    display: none; /* Hide line on mobile */
  }

  .experience-details {
    margin-left: 0; /* Remove margin for mobile */
    padding: 10px 0; /* Adjust padding */
  }

  .experience-item {
    font-size: 0.9rem; /* Smaller font size for mobile */
  }

  .title-header {
    padding-left: 0; /* Remove padding for mobile */
  }
}

/* Additional adjustments for iPhone 14 Pro Max in portrait mode */
@media (max-width: 1284px) {
  .experience-item {
    font-size: 1.1rem; /* Slightly larger font size */
  }
}
