/* General styles */
.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  min-height: auto;
  padding-top: 25vh;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 0;
}

.david-text {
  color: #FF4545;
}

/* Typography styles */
.typography-h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: bold;
}

/* Profile image styles */
.profile-image {
  position: absolute;
  right: 20%;
  top: 25vh;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .profile-image {
    right: 10%;
  }
}

@media (max-width: 768px) {
  .home-container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .profile-image {
    position: static;
    display: block;
    margin: 20px auto;
    top: auto;
    right: auto;
  }

  .typography-h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .home-container,
  .about-container,
  .experience-container,
  .projects-container {
    padding: 0 15px;
  }

  .typography-h1 {
    font-size: 1.5rem;
  }

  .typography-body1,
  .experience-item,
  .project-description {
    font-size: 0.9rem;
  }

  .tech-stack {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .project-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }
}

/* Additional adjustments for iPhone 14 Pro Max in portrait mode */
@media (max-width: 720px) {
  .typography-h1 {
    font-size: 2rem;
  }
}